body {
  margin: auto 0;
  font-family: Arial;
}

.hero {
  height: 100vh;
  background: url(/assets/images/brockmacoy-photo-download-1of1/IMG_2960.jpg) center / cover no-repeat;
}

.navbar {
  height: 75px;
}

.menu {
  height: 100%;
  margin-top: 10px;
  margin-left: 5px;
}

.main-logo{
  position: absolute;
  bottom: 200px;
  /* margin: auto; */
  width: 100%;
  text-align: center;
}

.logo {
  /* width: 100%; */
  position: relative;
  width: 50%;
  margin: auto;
}

.empty{
  height: 2000px;
  width: 100%;
}